.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
*.mobileprovision
vendor/MoodstocksSDK/build-iPhoneOS
vendor/MoodstocksSDK/build-iPhoneSimulator
vendor/MoodstocksSDK/MoodstocksSDK.bridgesupport
Gemfile.lock